* {
    border: 2px solid red;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#hero-container {

    display: grid;
    width: 100%;

    background: lightgray;

    grid-template-columns: 1fr auto 1fr;

    align-items: stretch;
}

#hero-base {
    grid-column: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 6rem;
    
    border-top: 8px solid #5678a8;
    border-left: 8px solid #5678a8;
    border-right: 8px solid #243a57;
    border-bottom: 8px solid #243a57;
    border-radius: 14px;

    background: #242424;

    box-shadow:
        inset 0 0 0 4px #354f73,
        inset 2px 2px 4px rgba(255,255,255,.18),
        inset -2px -2px 4px rgba(0,0,0,.35);
}

#hero {
    width: fit-content;

    border-top: 8px solid #5678a8;
    border-left: 8px solid #5678a8;
    border-right: 8px solid #243a57;
    border-bottom: 8px solid #243a57;
    border-radius: 14px;

    background: #242424;

    box-shadow:
        inset 0 0 0 4px #354f73,
        inset 2px 2px 4px rgba(255,255,255,.18),
        inset -2px -2px 4px rgba(0,0,0,.35);

    padding: 0.5rem 1rem;
}

header {
    white-space: nowrap;
    font-size: clamp(1.5rem, 4vw, 4rem);

    color: lightgray;
}

#day-night {
    grid-column: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 0;
    height: 100%;
}

/* Main section of page */

.main-page-container {
    display: flex;

    background-color: #B0E0E6;
}

.main-page-container.night {
    display: flex;

    background-color: #0c1737;
}

.rules-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.rules-sheet {

}

.traffic-light-container {
    position: relative;

    width: 40%;
}
 
.rules-sheet,
.bg-image {
    display: block;
    width: 100%;
    height: auto;
    
    z-index: 1;
}

#countdown-timer {
    width: 30%;
}
/* Traffic light container */

.red-light,
.yellow-light,
.green-light {
    position: absolute;
}

.red-light {
    top: 17.3%;
    left: 42%;
    width: 10.8%;
    aspect-ratio: 78 / 101;

    z-index: 2;
}

.red-light span {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)),red;


    background: linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)),red;  

    border-radius:
        62% 55% 65% 50%
        /
        62% 50% 52% 50%;
    transform: rotate(-20deg);
    
}

.red-light.on span {
   background: radial-gradient(circle,
        #ff9b9b 0%,
        #ff2a2a 55%,
        #900000 100%);

    box-shadow:
        0 0 8px #ff4d4d,
        0 0 18px #ff0000,
        0 0 55px rgba(255, 0, 0, 1.0);
}

.red-lens-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 3;
    
}

.red-light-lens {
    display: block;
    width: 103%;
    height: 103%;
    opacity: 0.4;
    
}

.yellow-light {
    top: 36%;
    left: 42%;
    width: 10.4%;
    aspect-ratio: 78 / 101;

    z-index: 2;
}

.yellow-light span {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #a67c00;
    background: linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)),yellow;  
    border-radius:
        62% 55% 70% 60%
        /
        75% 55% 75% 55%;
    transform: rotate(-20deg);
}

.yellow-light.on span {
    background: radial-gradient(circle,
        #fff8a8 0%,
        #ffd400 55%,
        #a67c00 100%);
    box-shadow:
        0 0 8px #ffe55c,
        0 0 18px #ffd400,
        0 0 45px rgba(255, 212, 0, 1.0);
}

.yellow-lens-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 102%;
    height: 102%;
    z-index: 3;
  
   
}
.yellow-light-lens {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.35;

  
}

.green-light {
    top: 54.3%;
    left: 42%;
    width: 10.4%;
    aspect-ratio: 78 / 101;

    z-index: 2;
}

.green-light span {
    display: block;
    width: 100%;
    height: 100%;

    border: 1px solid green;
    background: green;
    border-radius:
        62% 55% 68% 50%
        /
        70% 50% 55% 50%;
    transform: rotate(-20deg);
}

.green-light.on span {
    background: radial-gradient(circle,
        #a8ffb8 0%,
        #00d83a 55%,
        #006b1d 100%);
    box-shadow:
        0 0 8px #5cff84,
        0 0 18px #00d83a,
        0 0 45px rgba(0, 216, 58, 0.9);
}

.green-lens-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 102%;
    height: 102%;

    z-index: 3;
}

.green-light-lens {
    display: block;
    width: 100%;
    height: 100%;

    opacity: 0.4;
}

/* Timer display */

#countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-box {
    width: 75%;
    aspect-ratio: 5 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    background: #242424;
    border-top: 8px solid #5678a8;
    border-left: 8px solid #5678a8;
    border-right: 8px solid #243a57;
    border-bottom: 8px solid #243a57;

    border-radius: 18px;

    box-shadow:
    inset 0 0 0 4px #354f73,
    inset 2px 2px 4px rgba(255,255,255,.18),
    inset -2px -2px 4px rgba(0,0,0,.35);
}

.seven-segment {
    position: relative;

    width: 22%;
    aspect-ratio: 2 / 3 ;
}

.segment {
    position: absolute;
    box-sizing: border-box;

    background: #260000;

    box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.8),
        inset -1px -1px 2px rgba(90, 0, 0, 0.25);
    border: 1px solid #120000;

    opacity: 0.75;   
}

.top,
.middle,
.bottom {
    width: 70%;
    height: 9%;
    left: 15%;
}

.top {
    top: 0;
}

.middle {
    top: 45.5%;
}

.bottom {
    bottom: 0;
}

.upper-left,
.upper-right,
.bottom-left,
.bottom-right {
    width: 11%;
    height: 39%;
}

.upper-left {
    top: 6%;
    left: 5%;
}

.upper-right {
    top: 6%;
    right: 5%;
}

.bottom-left {
    bottom: 6%;
    left: 5%;
}

.bottom-right {
    bottom: 6%;
    right: 5%;
}

.digit-dot {
    width: 7%;
    aspect-ratio: 2 / 10;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-bottom: 3%;
    margin-inline: -1.5%;
    box-sizing: border-box;
}

.dot {
    display: block;
    width: 65%;
    
    aspect-ratio: 1/1;
    border-radius: 50%;

    background: linear-gradient(
        to bottom,
        #fff0f0 0%,
        #ff8f8f 20%,
        #ff3d3d 55%,
        #b00000 100%);

    box-shadow:
        inset 3px 3px 4px rgba(255,255,255,.45),
        inset -3px -3px 5px rgba(90,0,0,.85),
        0 0 8px rgba(255,80,80,.95),
        0 0 18px rgba(255,0,0,.95),
        0 0 35px rgba(255,0,0,.65),
        0 0 55px rgba(255,0,0,.35);
    border: 1px solid #6f0000;

    opacity: 0.75;
}

.segment.on {

    background: linear-gradient(
        to bottom,
        #fff0f0 0%,
        #ff8f8f 18%,
        #ff3d3d 50%,
        #b00000 100%);

    box-shadow:
        inset 3px 3px 4px rgba(255,255,255,.45),
        inset -3px -3px 5px rgba(90,0,0,.85),
        0 0 8px rgba(255,80,80,.95),
        0 0 18px rgba(255,0,0,.95),
        0 0 35px rgba(255,0,0,.65),
        0 0 55px rgba(255,0,0,.35);
    border: 1px solid #6f0000;
    
}

/* buttons */

button {
    height: 100px;
    width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: 5px solid salmon;
    border-radius: 20px;

    background-color: blanchedalmond;
    color: coral;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65px;
    font-weight: 900;
    
    box-shadow: 0 8px 0 salmon;

    cursor: pointer;
}
button:active {
    transform: translateY(8px);
    
        box-shadow:
        0 0 15px red,
        0 0 30px rgba(255, 0, 0, .5),
        inset 0 0 55px rgba(255, 0, 0, .7);
}
button.paused {
        transform: translateY(8px);
    
        box-shadow:
        0 0 15px red,
        0 0 30px rgba(255, 0, 0, .5),
        inset 0 0 55px rgba(255, 0, 0, .7)
}
#buttons {
    display: flex;
    justify-content: space-around;
    background-color: navy;
    margin-top: 10px;
    
}