.main-page-container {
    display: flex;

    background-color: #B0E0E6;

}
.rules-container {
    width: 30%;
    margin-top: 80px;
    
}
.rules-sheet {
    width: 90%;
    
    height: auto;
}



/* Traffic light */

.traffic-light-container {
    position: relative;
    display: flex;
    justify-content: center;
   
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.bg-image {
    display: block;
    width: 100%;
    height: auto;
}
.red-light span {
    background: linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ),
    red;  
    background-color: ;
    border-radius:
        62% 55% 65% 50%
        /
        62% 50% 52% 50%;
    transform: rotate(-20deg);
    
}
.red-light {
    position: absolute;
    z-index: 2;
    top: 19.8%;
    left: 45.1%;
    width: 7%;
    aspect-ratio: 84 / 101;
}
.red-lens-container {
    position: absolute;
    z-index: 1000;
    opacity: 0.40;

    left: 1%;
    width: 65px;
    height: auto;
}
.red-light-lens {
    width: 86px;
    height: 104px;
}

.red-light.on span {
    width: 82px;
    height: 96px;
    border: 2px solid red;

   background: radial-gradient(circle,
        #ff9b9b 0%,
        #ff2a2a 55%,
        #900000 100%);

        box-shadow:
        0 0 8px #ff4d4d,
        0 0 18px #ff0000,
        0 0 55px rgba(255, 0, 0, 1.0);
}
.yellow-light span {
    width: 82px;
    height: 96px;
    border: 2px solid #a67c00;
    background: linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ),
    yellow;  
    border-radius:
        62% 55% 70% 60%
        /
        75% 55% 75% 55%;
    transform: rotate(-20deg);
}

.yellow-light {
    position: absolute;
    z-index: 2;
    top: 38%;
    left: 45%;
    width: 7%;
    aspect-ratio: 82 / 96;
}
.yellow-lens-container {
    position: absolute;
    z-index: 1000;
    opacity: 0.45;

    width: 7%;
    aspect-ratio: 96 / 107;
}
.yellow-light-lens {
    width: 86px;
    height: 102px;
}

.yellow-light.on span {
    background: radial-gradient(circle,
        #fff8a8 0%,
        #ffd400 55%,
        #a67c00 100%);
    box-shadow:
        0 0 8px #ffe55c,
        0 0 18px #ffd400,
        0 0 45px rgba(255, 212, 0, 1.0);
}
.green-light span {
    width: 82px;
    height: 96px;
    border: 2px solid green;
    background: green;
    border-radius:
        62% 55% 68% 50%
        /
        70% 50% 55% 50%;
    transform: rotate(-20deg);
}
.green-light {
    position: absolute;
    z-index: 2;
    top: 56%;
    left: 45%;
    width: 7%;
    aspect-ratio: 82 / 96;
}
.green-lens-container {
    position: absolute;   
    opacity: 0.43;

    z-index: 1000;

    top: 1%;
    left: 1%;
    width: 7%;
    aspect-ratio: 82 / 96;

}
.green-light-lens {
    position: absolute;
    width: 86px;
    height: 102px;


}

.green-light.on span {
    background: radial-gradient(circle,
        #a8ffb8 0%,
        #00d83a 55%,
        #006b1d 100%);
    box-shadow:
        0 0 8px #5cff84,
        0 0 18px #00d83a,
        0 0 45px rgba(0, 216, 58, 0.9);
}



.red-light span,
.yellow-light span,
.green-light span {
    display: block;
    width: 100%;
    height:100%;
}
/* Timer */
/* All segments dim/off */
.timer-box {
    display: inline-flex;
    align-items: center;
    
    gap: 8px;

    background-color:  #050505;
    padding: 20px 24px;
    padding-right: 90px;

    border-top: 10px solid #f4d06f;
    border-left: 10px solid #d4af37;
    border-right: 10px solid #8a6508;
    border-bottom: 10px solid #5f4607;

    border-radius: 10px;

}
#countdown-timer {
    position: absolute;
    top: 250px;
    right:50px;
}
.segment {
    position: absolute;
    background-color: #280000;
    box-shadow: none;
    opacity: 0.35;
    border-radius: 5px;
}

.seven-segment {
    position: relative;
    width: 80px;
    height: 120px;
}
/* Horizontal segments*/

.top,
.middle,
.bottom {
    width: 50px;
    height: 10px;
    left: 10px;
}
.top {
    top: 0;
}
.middle {
    top: 55px;
}
.bottom {
    bottom: 0;
}
/* Vertical segments */
.upper-left,
.upper-right,
.bottom-left,
.bottom-right {
    width: 10px;
    height: 50px;
}
.upper-left {
    top: 5px;
    left: 0;
}
.upper-right {
    top: 5px;
    right: 0;
}
.bottom-left {
    bottom: 5px;
    left: 0;
}
.bottom-right {
    bottom: 5px;
    right: 0;
}
/* When segments lit */
.segment.on {
    background: #ff2a2a;
    box-shadow:
        0 0 6px #ff4d4d,
        0 0 14px #ff0000,
        0 0 28px rgba(255, 0, 0, 0.8);
    opacity: 1;
}
.dot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    background: #ff2a2a;
    box-shadow:
        0 0 6px #ff4d4d,
        0 0 14px #ff0000,
        0 0 28px rgba(255, 0, 0, 0.8);
    opacity: 1;
}
.digit-dot {
    height: 120px;
    width: 15px;

    display: flex;
    align-items: flex-end;

}
